.App {
  text-align: center;
  text-decoration-color: #363333;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgb(37, 42, 44);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#map {
  height: 100vh;
} 
html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
 
.container, #navbargrid{
  display: flex;
}


.NavBar{
  background: rgb(241, 245, 247);
  flex: 1;
  align-content: inherit;
  max-width: 100%;
  border: 1px #ccc solid;
  font-size: 13px;



}
.sidemenu {
  flex: 1;
  align-content: inherit;
  width:25%;
  max-width: 100%;
  height: 100hv;
  border: 1px #ccc solid;
  background: rgb(241, 245, 247);
  color: rgb(37, 42, 44);
  font-size: 12px;


}
.listitem {
  cursor: pointer;
}
.mapplace {
  flex:4;
}
.menulist {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  flex-wrap: inherit;
}

#searchfield{
  max-width: 85%;
  border: 3px #ccc solid;
}


.hamburger {
  display: inline-block;
  cursor: pointer;
}

#hamicon{
  flex: 5%;
  padding: 15px;
}

#navtitle{
 flex:85%;
 color: rgb(41, 43, 44)
}

.navlistnames{
  height: 80vh;
  width:100%;
  overflow-y: scroll;

}
::-webkit-scrollbar {
  width: 20px;

}

.navlistnamebox{
  height: 120%;
  width:100%;
  overflow: auto;

}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.gm-style-iw {
  font-size: 15px;
  width: 100px;
  height: 100px;
  color: black;
}